discord.py
davey
requests
playwright
PyNaCl
google-genai
aiohttp
yt_dlp
openai
fastapi
uvicorn[standard]
httpx
python-jose[cryptography]
jose
pyngrok
mcstatus
aiosqlite
deep_translator
pillow
moviepy
discord-ext-voice-recv
cryptography